.body {
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background: rgb(40, 35, 125);
    background: linear-gradient(90deg, rgba(40, 35, 125, 1) 0%, rgba(38, 38, 184, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 15px;
    padding: 40px;
    display: flex;
    box-shadow: 23px 18px 15px -3px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 700px) {
    .header {
        flex-direction: column;
    }
}

.avatar-image {
    border-radius: 50%;
    width: 200px;
}

.header-text {
    margin-left: 10px;
}

.header-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.header-subtitle {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.social-button {
    padding: 5px;
    border-radius: 5px;
    background: white;
    text-decoration: none;
    color: black;
    margin: 5px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.social-button * {
    padding: 0px 5px;
}

.header-socials {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.social-link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.social-link * {
    padding: 0px 5px;
}

.card {
    box-shadow: 23px 18px 15px -3px rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 15px;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: regular;
}

.card-label {
    padding: 5px 8px;
    border: 1px solid black;
    color: black;
    width: max-content;
    border-radius: 10px;
    margin: 5px 0px;
}

.card-description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}

.animated-progress {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 20px 10px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}

.animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
}

.progress-python span {
    background-color: #4584b6;
}

.progress-csharp span {
    background-color: #7552cc;
}

.progress-html span {
    background-color: #e34f26;
}

.progress-docker span {
    background-color: #0db7ed;
}

.progress-english span {
    background-color: #c13584;
}

.progress-javascript span {
    background-color: #f7df1e;
}

.progress-postgres span {
    background-color: #00758f;
}

.vertical-divider{
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 200px;
}

.expirience-item {
    display: flex;
}

@media screen and (max-width: 700px) {
    .expirience-item {
        flex-direction: column;
    }

    .vertical-divider {
        display: none;
    }
}

.expirience-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.expirience-content * {
    margin: 5px;
}

.expirience-logo img {
    width: 70px;
}

.expirience-button {
    border-radius: 15px;
    background: rgb(40, 35, 125);
    color: white;
    display: flex;
    align-items: center;
    width: max-content;
    padding: 10px;
    text-decoration: none;
}